.name {
  display: flex;
  flex-direction: column;

  &__pretitle {

  }

  &__title {
    margin-block-start: auto;
    margin-block-end: var(--size-x1);
  }

  &__subtitle {
    color: var(--gray);
  }
}
