$coeff: 0.84;

.languages {
  &__title {
    margin-block-end: var(--size-x8);
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-x2);
  }

  &__list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--size-x9);

    & span {
      display: -webkit-box;
      overflow: hidden;
      width: 100%;
      max-width: calc(29 * var(--size-x1));
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &__list-item-level {
    width: calc($coeff * var(--lang-level) * var(--size-x1));
    height: var(--size-x6);
    border-radius: calc(1.5 * var(--size-x1));
    background-color: var(--accent);
  }
}
